h1 {
    font-size: 2em;
    font-weight: bold;
    color: burlywood;
    margin: 1em 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: grey;
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}
.gallery figcaption {
    text-align: center;
    font-size: 1em;
    color: rgb(205, 183, 157);
    margin-top: 0.5em;
    font-style: italic;
}
.gallery img {
   width: 200px;
}
@media (max-width: 500px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }
}